@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #3052ad;
  --dark-primary-color: #0a49f6;
  --second-color: #f72585;
  --dark-color: #1e1e1e;
  --light-color: #f0f0f0;
  --white-color: #fff;
  --body-font: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  scroll-behavior: smooth;
}

header {
  background-color: var(--light-color);
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.logo {
  position: relative;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
  font-family: var(--body-font);
  text-transform: uppercase;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  padding-left: 30px;
  font-size: 1.5em;
  letter-spacing: 1px;
  transition: all 0.5s ease;

}

header ul li a:hover {
  color: var(--second-color);
}


.content {
  padding: 100px 200px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  
  background: linear-gradient(90deg, rgb(3, 1, 25)0%, rgb(17, 17, 123)45%, rgb(5, 173, 182)100%);
}

main.content h2 {
  font-size: 20px;
  color: var(--light-color);
  margin-bottom: 10px;
}

main .content h2 {
  font-size: 2em;
  color: var(--light-color);
  font-weight: 500;
  margin-bottom: 15px;
}

main .content h2 span {
  color: var(--dark-primary-color);
  display: inline-block;
  font-size: 2em;
  font-weight: 700;
  margin-top: 10px;
}

main .content h3 {
  color: var(--primary-color);
  font-size: 1.5em;
}

main .content .content2 {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-size: 1.5em;
  font-weight: 500;
  padding: 10px 10px;
  margin-top: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
  margin-bottom: 20px;
}

main .content .content2:hover {
  background-color: var(--dark-primary-color);
  transform: scale(1.1);
}

main .content h2 span::after{
  content: "";
  display: block;
  width: 80px;
  background-color: var(--dark-primary-color);
  margin-top: 10px;
  animation: write-erase 2s linear infinite;
}

@keyframes write-erease {
    0%, 100%{
      width: 0;
      } 
      50%{
        width: 80px;
      }
          
}

.social-icons a {
  color: var(--white-color);
  font-size: 1.5em;
  margin-right: 30px;
  transition: all 0.5s ease;
}

.social-icons a:hover {
  color: var(--dark-primary-color);
}


.cards {
  padding: 100px 200px;
}

.caption {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 30px;

}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: var(--white-color);
  width: 330px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin: 15px;
  padding: 20px;
  transition: all 0.4s ease;

}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  font-size: 6em;
  text-align: center;
  color: var(--primary-color);
}

.card-content {
  text-align: center;
}

.card-content h2 {
  color: var(--primary-color);
  margin: 10px;
  font-weight: 600;
}

.projects {
  background-color: var(--dark-color);

}

.projects .contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}


.project-card {
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 10px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5s all ease;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card img {
  width: 100%;
  height: 300px;

}

.project-info{
  padding:5px;
}

.project-category{
  font-size: 20px;
}

.project-title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.project-information{
  display: flex;
  justify-content: space-between;
  
}

.More-Details{
  text-decoration: none;
  color: var(--primary-color);

}
.More-Details:hover{
  transition: all 0.5s ease;
  color: var(--second-color);
}

.footer{
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer p{
  color: var(--white-color);
}


.footer p span{
  color: var(--dark-primary-color);
}

.footer-icon a{
  color: var(--white-color);
  font-size: 25px;
  font-weight: 900;
  margin-left:15px;
  transition:all 0.5s ease;
}

.footer-icon a:hover{
  color: var(--dark-primary-color);
}